@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* End of reset */

/* 
Search
inbox
today
upcoming
add task
toggle menu
sidebar
*/

body,
html {
  height: 100%;
  margin: 0;
}

html {
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  --sidebar-color: #dbeafe;
  --hover-sidebar-color: #d2e1f5;
  --content-color: #eff6ff;
  --accent-color: #3b82f6;
  --accent-color-transparent: #3b83f621;
  --font-color: #172554;
  --dialog-color: #eff6ff;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: var(--sidebar-color);
  color: var(--font-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: 200px;
  max-width: 50%;
  height: 100%;
}

.sidebar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 3px var(--accent-color);
}

.sidebar svg {
  fill: var(--font-color);
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
  font-weight: 600;
}

.sidebar .sidebar-header > button {
  margin-left: auto;
  padding: 0.5rem;
}

/* Sidebar button styles */
.sidebar-button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--sidebar-color);
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 0;
  outline: none;
}

.sidebar-button:hover,
.sidebar-header > button:hover {
  background-color: var(--hover-sidebar-color);
}

.sidebar-button:focus {
  background-color: var(--accent-color-transparent);
  color: var(--accent-color);
}

.sidebar-button:focus svg {
  fill: var(--accent-color);
}

.sidebar #add-task {
  color: var(--accent-color);
  font-weight: 600;
}

.sidebar #add-task svg {
  fill: var(--accent-color);
}

.resize-handle {
  width: 5px;
  cursor: ew-resize;
  background-color: var(--content-color);
  user-select: none;
}

.resize-handle:hover {
  cursor: ew-resize;
  background-color: var(--hover-sidebar-color);
}

.content {
  background-color: var(--content-color);
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

dialog {
  justify-self: center;
  margin: 10rem;
  border: 0;
  border-radius: 15px;
  background-color: var(--dialog-color);
  box-shadow: rgba(0, 0, 0, 0.187) 0 0 20px;
  min-width: 30%;
  outline: none;
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog input,
dialog select {
  border: 0;
  background-color: var(--dialog-color);
  flex-grow: 1;
}

dialog input {
  border: 0;
  outline: 0;
}

fieldset {
  border: none;
}

fieldset:not(#name) {
  font-size: 0.8rem;
}

fieldset#desc input {
  width: 100%;
}

fieldset#misc {
  display: flex;
  gap: 1rem;
}

fieldset#misc input,
fieldset#misc select {
  border: solid 1px var(--sidebar-color);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  outline: none;
}

fieldset#buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

dialog button {
  background-color: rgba(211, 211, 211, 0.523);
  border: none;
  outline: none;
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

dialog button[type="submit"] {
  background-color: var(--accent-color);
  color: var(--dialog-color);
}

dialog button[type="submit"].disabled {
  background-color: #3b83f668;
}

.task-container {
  width: 70%;
}

.task-container h1 {
  font-weight: 600;
  font-size: 3rem;
}

.task-container h3 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
}

.task-container h4 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.task-card {
  padding: .5rem 1rem;
  border-radius: 15px;
  width: 100%;
  align-items: center;
  margin-bottom: .5rem;
}

.task-card h4 {
  margin: 0 0 .5rem 0;
  padding: 0;
  font-size: 1rem;
}

.task-card .misc-bar {
  margin-top: .5rem;
  font-size: .8rem;
}
